# Core
Django>=5.1,<6.0
gunicorn>=22.0

# Auth
django-allauth>=65.0

# Rich Text Editor
django-ckeditor-5>=0.2.12

# Environment Variables
python-decouple>=3.8
python-dotenv>=1.0.0

# Image Processing
Pillow>=10.4

# Razorpay
razorpay>=1.4

# Security
django-axes>=7.0

# SEO
django-meta>=2.4

# Static Files (Production)
whitenoise>=6.7

# Forms
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.10

# CORS
django-cors-headers>=4.4
PyJWT==2.8.0
cryptography>=41.0.0
